:root {
    --text-main: #303030;
    --text-gray: #505050;
    --text-lightgray: #e0e0e0;
    --border-gray: #a1a1a1;
    --form-red: #fb6868;
    --ShipporiMincho: "Shippori Mincho", serif;
    --NotoSans: "Noto Sans JP", sans-serif;
    --Oswald: "Oswald", sans-serif;
}

/* 共通要素 */
.section-title {
    font-family: var(--ShipporiMincho);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.heading {
    font-family: var(--Oswald);
    font-optical-sizing: auto;
    font-style: normal;
}
.main-font,
* p {
    font-family: "Oswald", "Noto Sans JP", sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
.copyright {
    font-family: var(--Oswald);
    font-size: 12px;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}
.text-lightgray {
    color: var(--text-lightgray);
}
/* header */
.header {
    padding: 13px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .section-title {
        font-family: var(--ShipporiMincho);
        font-size: 32px;
        font-weight: 400;
    }
    .main-font,
    * p {
        font-family: "Oswald", "Noto Sans JP", sans-serif;
        font-size: 14px;
        line-height: 2;
    }
    /* header */
    .header-title {
        font-size: 32px;
    }
}
